.report {
	background: #FFF;
	padding: 60px 20px 20px 20px;
	position: relative;
	
	.reportNav {
		position: fixed;
		left: 0px;
		top: 0px;
		// background: #ccc;
		width: 100%;
		z-index: 99;
		
		.frame {
			padding: 10px;
			
			a {
				text-decoration: none;
				padding: 0 20px;
				font-weight: bold;
			}
		}
	}
	
	h1 {
		font-size: 18pt;
		margin: 0px;
		padding: 0px;
	}
	
	h2 {
		margin: 30px 0 0 0;
		font-size: 11pt;
	}
	
	h3 {
		margin: 15px 0 5px 0;
		padding: 0px;
	}
	
	.overview {
		width: 100%;
		th {
			text-align: right;
			min-width: 120px;
			padding: 0 20px 0 0;
			background: #fff !important;
		}
	}
	
	.legende {
		width: 100%;
		td {
			text-align: center;
			width: 25%;
		}
	}
	
	table.short {
		width: 100%;
		th {
			text-align: left;
			padding: 10px 0;
		}
	}
	
	p {
		margin: 0 0 5px 0;
		padding: 0px;
	}
	
	.plags {
		margin: 0 0 0 50px;
		
		.link {
			text-align: right;
			font-style: italic;
		}
	}
	
	.graficReport {
		
		line-height: 1.6em;
		width: 100%;
		position: relative;
		
		.source {
			width: 49%;
			// padding: 0 20px 0 0;
		}
		
		.rtSourceText {
			position: absolute;
			left: 51%;
			margin: -20px 0 0 0;
			// font-size: 9pt;
			// line-height: normal;
			width: 49%;
		}
	}
	
	.green {
		background: #00FF00;
	}
}
