@fontcolor: #000000;
@inputborder: #cccccc;

* {
	font-size: 10pt;
	font-family: Arial;
}

body {
	margin: 20px;
	background: url(../../../images/background.jpg);
}

a {
	text-decoration: underlined;
	color: #000000;
}

label {
	display: block;
}

input {
	border: solid 1px @inputborder;
	/*min-width: 100px;*/
	
}

textarea {
	border: solid 1px @inputborder;
}

#dAddShortText {
	width: 800px;
	height: 400px;
}

#frame {
	background: #FFF;
}

#container {
	width: 900px;
	margin: auto;
	background: #fff;
	-moz-box-shadow:    6px 6px 6px #666;
	-webkit-box-shadow: 6px 6px 6px #666;
	box-shadow: 6px 6px 6px #666;
	border: solid 1px #666;
}

#header {
	position: relative;
	height: 125px;
	
	img {
		position: absolute;
		left: 30px;
		top: 20px;
	}
	
	h1 {
		position: absolute;
		left: 120px;
		top: 70px;
		font-style: italic;
	
		a {
			font-size: 30px;
			color: @fontcolor;
			text-decoration: none;
		}

	}
	
	#userinfo {
		position: absolute;
		right: 10px;
		top: 10px;
	}
}

#nav {
	
	width: 100%;
	height: 30px;
	background: #ccc;
	
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		
		li {
			float: left;
			line-height: 20px;
			margin: 5px;
			padding: 0 30px;
			border-right: solid 1px #000;
			
			a {
				text-decoration: none;
			}
		}
	}
}



#content {
	margin: 30px;
	min-height: 400px;
}

#foot {
	text-align: right;
	font-size: 8pt;
	padding: 3px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.floatclear {
	clear: both;
}

.folderMenue {
	text-align: right;
	padding: 0 0 20px 0;
}

.button {
	border: solid 1px #000;
	padding: 2px;
	background: #f9f9f9;
}

.folders {
	overflow:auto;
	margin: 0px;
	width: 250px;
	border-right: dotted 1px #000;
	min-height: 400px;
}

.files {
	width: 540px;
	margin: 0;
	
	.documents {
		width: 100%;
		border-collapse: collapse;
		
		.borderright {
			border-right: solid 1px #eee;
		}
		
		td {
			padding: 1px 5px 1px 5px;
			vertical-align: top;
		}
		
		.image {
			width: 15px;
		}
		
		.smal {
			width: 50px;
		}
		
		.bgcolor {
			background: #f3f6fa;
		}
		
		.jeditable {
			input {
				width: 50px;
			}
			button {
				border: solid 1px @inputborder;
			}
		}
	}
}

.admin {
	.user {
		width: 100%;
		border-collapse: collapse;
		
		.borderright {
			border-right: solid 1px #eee;
		}
		
		td {
			padding: 1px 5px 1px 5px;
		}
		.bgcolor {
			background: #f3f6fa;
		}
	}
}

.report {
	background: #FFF;
	table {
		td {
			width: 50%;
		}
	}
}

.document {
	background: #FFF;
}

h2 {
	font-size: 20px;
}

.loginform {
	width: 300px;
	margin: auto;
}

tr:hover {
	background: #ffa !important;
}
