# AuthType Basic
# AuthName "developer" 
# AuthUserFile /kunden/homepages/7/d19775257/htdocs/helptech/.htusers
# require user timo

#### Regeln zum Umschreiben der URL ####

Options -MultiViews +FollowSymLinks
RewriteEngine On
RewriteBase /
#RewriteBase /webseiten/plagiatsjaeger-app/htdocs/
RewriteCond %{REQUEST_URI} !^/(application|phpMyAdmin)(/.*)?
RewriteRule ^([0-9a-zA-Z_/-]+)$ index.php?url=$1 [QSA]
